# SUPABASE CREDENTIALS
NEXT_PUBLIC_SUPABASE_URL=https://bmrkqohudimwhiuovxtg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtcmtxb2h1ZGltd2hpdW92eHRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5ODI5NjcsImV4cCI6MjEwNjU1ODk2N30.aGO4wgNmVddd477C15grBYjAgUuxKZVQtQySbdFctPE
SUPABASE_URL=https://bmrkqohudimwhiuovxtg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJtcmtxb2h1ZGltd2hpdW92eHRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5ODI5NjcsImV4cCI6MjEwNjU1ODk2N30.aGO4wgNmVddd477C15grBYjAgUuxKZVQtQySbdFctPE

# ADMIN CREDENTIALS
ADMIN_EMAIL=adminflix123@gmail.com
ADMIN_PASSWORD=adminflix123

# TMDB API
TMDB_API_KEY=685a682af688605535a346fcdae01573

# APP URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
